<footer class="page-footer grey lighten-2 black-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>An Epitech Innovative Project</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="barde-blue-text" href="#!">Facebook</a></li>
                    <li><a class="barde-blue-text" href="#!">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Barde
        </div>
    </div>
</footer>