<!--gulp
 * APLT
 * < arnaud perrault />
 * barde-dash - Created on 16/03/2017
 -->

<div class=" vertical-center">

    <div class="container">

        <div class="col-md-6 right">
            <img width="350px" src="img/logo.png"/>
        </div>
        <div class="col-md-4">
            <h3 class="center">Sign in</h3>
            <div class="panel panel-default center">
                <div class="panel-body">
                    <form role="form">

                        <div style="margin-bottom: 12px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="email" type="text" class="form-control" name="email" ng-model="login.email"
                                   placeholder="Email">
                        </div>

                        <div style="margin-bottom: 12px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password"
                                   ng-model="login.password"
                                   placeholder="Password">
                        </div>

                        <div class="input-group">
                            <div class="checkbox" style="margin-top: 0px;">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success" ng-click="login()">Sign in</button>

                    </form>
                </div>
            </div>

            <div class="center" style="font-size:85%">
                All rights reserved © 2017 Barde
            </div>
        </div>

    </div>
</div>