<!--
 * APLT 
 * < arnaud perrault />
 * barde-www - Created on 27/05/2017
 -->

<section>

    <div class="main">

        <div class="intro bg-large-1">
            <div class="intro-content intro-content-primary text-center">
                <section class="section section-articlesbox box-parent box-cell-size  box-center">
                    <div class="box col-1of1 box-center">
                        <div class="box-cell-size1">
                            <img width="350" src="app/assets/images/logo/logo-4k.png" alt="" class="src"
                                 style="margin-top:50px"/>

                        </div>
                    </div>
                </section>
                <h3>Générez votre musique d'ambiance oû que vous soyez..</h3>
                <h3>Barde c'est votre ambiance, votre musique !</h3>

                <section class="section section-articles box box-parent box-height-6">
                    <div class="box col box-center">
                        <div class="box-cell-size6 box-center">
                            <button type="text" class="form-btn home-btn btn-pink">
                                <!--				<i class="fa fa-angle-down" aria-hidden="true"></i>-->
                                Télécharger
                            </button>
                        </div><!-- /.box-cell-size3 -->
                    </div>
                </section>

                <a href="#" class="link-scroll">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
            </div><!-- /.intro-content -->
        </div>

        <section class="section section-full-height box-parent">
            <div class="box col box-white box-center box-height-5">
                <div class="box-cell-size4 text-center">
                    <div class="box-cell-size">
                        <h1 class="blue">
                            ABOUT
                        </h1>

                    </div>

                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget
                        imperdiet neque. In vol. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium
                        pretium tempor. Ut eget imperdiet neque. In vol. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In vol. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet
                        neque. In vol.
                    </p>
                </div><!-- /.box-cell-size3 -->
            </div><!-- /.box -->
        </section>

        <section class="section section-full-height box-parent">
            <div class="box box-feature box-feature-primary col-1of2"
                 style="background-image: url(app/assets/images/background/bg-medium-1.jpg);">

            </div>

            <div class="box col-1of2 box-white box-center">
                <div class="box-cell-size5 text-left">
                    <div class="box-cell-size">

                        <h1 class="blue">
                            Easy
                        </h1>

                    </div>

                    <p class="text-justify">
                        Barde is an user-friendly application ! In only one clic, you can choose the musical style
                        you like, adapt the settings as you wish and you're ready for the night !
                    </p>
                </div><!-- /.box-cell-size3 -->
            </div>

            <div class="box col-1of2 box-white box-center">
                <div class="box-cell-size5 text-left">
                    <div class="box-cell-size">

                        <h1 class="blue">
                            Hearty
                        </h1>

                    </div>

                    <p class="text-justify">
                        Barde allows you to focus on a place, a dialog or a cool landscape. Enjoy a song adapted to
                        the situation while focusing on those who surround you !
                    </p>
                </div><!-- /.box-cell-size3 -->
            </div>
            <div class="box box-feature box-feature-primary col-1of2"
                 style="background-image: url(app/assets/images/background/bg-medium-1.jpg);">

            </div>
            <div class="box box-feature box-feature-primary col-1of2"
                 style="background-image: url(app/assets/images/background/bg-medium-1.jpg);">

            </div>

            <div class="box col-1of2 box-white box-center">
                <div class="box-cell-size5 text-left">
                    <div class="box-cell-size">

                        <h1 class="blue">
                            Modulable
                        </h1>

                    </div>

                    <p class="text-justify">
                        Barde's music is going fit perfectly on your tastes. You can choose from the musical style
                        to the instruments or the rythm you want in order to compose your music !
                    </p>
                </div><!-- /.box-cell-size3 -->
            </div>

        </section><!-- /.section -->

        <section class="section box-parent">
            <div class="box col box-blue box-center box-height-6">
                <div class="box-cell-size6 text-center">
                    <div class="box-cell-size">
                        <h2 class="fw-600">
                            Stay in touch !
                        </h2>
                        <h3 class="normal">
                            Subscribe to our newsletter if you want to be informed of our project's avancement.
                        </h3>
                    </div>
                    <div class="box-cell-size">
                        <div class="form-contact">
                            <form action="?" method="post">
                                <div class="form-body">
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="text" class="field" name="field-name" id="field-name"
                                                   value="" placeholder="Your email" style="float:left;width:75%">
                                            <button type="submit" class="form-btn btn btn-pink"
                                                    style="float:right;margin-top:-5px !important;">
                                                Subscribe
                                            </button>
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                </div><!-- /.form-body -->
                            </form>
                        </div><!-- /.form-contact -->
                    </div>
                </div><!-- /.box-cell-size3 -->
            </div><!-- /.box -->
        </section>

        <section class="section section-full-height box-parent">
            <div class="box col box-white box-center box-height-4">
                <div class="box-cell-size6 text-center">
                    <div class="box-cell-size">
                        <h3 class="blue">
                            Générer votre musique d'ambiance sur votre ordinateur ...
                        </h3>
                    </div>
                    <img width="100" height="100" src="../../assets/images/logo/windows-logo.png" alt="" class="src"
                         style="margin: 0 50px;">
                    <img width="100" height="100" src="../../assets/images/logo/apple-logo.svg" alt="" class="src"
                         style="margin: 0 50px;">
                    <img width="100" height="100" src="../../assets/images/logo/linux-logo.png" alt="" class="src"
                         style="margin: 0 50px;">
                    <div class="box-cell-size">
                        <h3 class="blue">
                            Mais aussi sur votre smartphone ou votre tablette..
                        </h3>
                    </div>
                    <img src="../../assets/images/logo/app-store.png" alt="" class="src">
                    <img src="../../assets/images/logo/play-store.png" alt="" class="src">
                    <div class="box-cell-size">
                        <h3 class="blue">
                            et accéder à vos musique où que vous soyez !
                        </h3>
                    </div>
                </div><!-- /.box-cell-size3 -->
            </div><!-- /.box -->
        </section>

    </div>
</section>

