<!--
 * APLT 
 * < arnaud perrault />
 * barde-www - Created on 27/05/2017
 -->

<section>

    <div class="main">

        <section class="section box-contacts box-parent" style="    min-height: 94vh;">
            <div class="box col box-white box-large box-center box-height-4">
                <div class="form-contact">
                    <div class="box-cell-size text-center">

                        <h2>
                            Contact-us !
                        </h2>
                        <h3>
                            You have a question about our project ? Fill the form below to send your question !
                        </h3>
                    </div>
                    <form action="?" method="post">
                        <div class="form-body">
                            <div class="form-row">
                                <label for="field-name" class="form-label">Nom :*</label>

                                <div class="form-controls">
                                    <input type="text" class="field" name="field-name" id="field-name" value=""
                                           placeholder="">
                                </div><!-- /.form-controls -->
                                <label for="field-last-name" class="form-label">Prénom :*</label>

                                <div class="form-controls">
                                    <input type="text" class="field" name="field-last-name" id="field-last-name"
                                           value="" placeholder="">
                                </div><!-- /.form-controls -->
                            </div><!-- /.form-row -->

                            <div class="form-row">
                                <label for="field-email" class="form-label">E-mail :*</label>

                                <div class="form-controls">
                                    <input type="text" class="field" name="field-email" id="field-email"
                                           value="" placeholder="">
                                </div><!-- /.form-controls -->

                            </div><!-- /.form-row -->

                            <div class="form-row">
                                <label for="field-message" class="form-label">Message :</label>

                                <div class="form-controls">
                                            <textarea class="textarea" name="field-message" id="field-message"
                                                      placeholder=""></textarea>
                                </div><!-- /.form-controls -->
                            </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                            <button type="submit" class="form-btn btn btn-pink">Envoyer</button>
                        </div><!-- /.form-actions -->
                    </form>
                </div><!-- /.form-contact -->
            </div><!-- /.box -->

        </section><!-- /.section -->
    </div>

</section>

