<!--
 * APLT 
 * < arnaud perrault />
 * barde-www - Created on 27/05/2017
 -->

<section>

    <div class="main">

        <section class="section-top box-contacts box-parent section-full-height" style="    min-height: 94vh;">
            <div class="box col box-white box-large box-center">
                <div class="box-cell-size6 text-left news-tile">
                    <h2 style="margin:0">
                        First steps ...
                    </h2>
                    <p style="font-size:14px;padding-bottom:10px">
                        22nd February 2017 - <span class="blue">Axel Lavielle</span>
                    </p>
                    <h3>
                        Since today we are going to start to leave you informed of everything pertaining our project
                        Barde !
                    </h3>
                    <a href="/blog/first-steps">Read full post</a>
                </div>
            </div><!-- /.box -->

        </section><!-- /.section -->
    </div>

</section>

