<footer class="page-footer barde-purple margin-top">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Réseaux sociaux</h5>
          <div class="col no-bottom-margin">
            <a href="https://goo.gl/W13U9d" target="_blank"><img src="img/icons/icon_twitter.png" alt="Barde sur Twitter" class="circle responsive-img icon-social"></a>
          </div>

          <div class="col no-bottom-margin">
            <a href="https://goo.gl/uebg0X" target="_blank"><img src="img/icons/icon_facebook.png" alt="Barde sur Facebook" class="circle responsive-img icon-social"></a>
          </div>
</div>

        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Liens utiles</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://www.epitech.eu/?xtor=SEC-959&gclid=Cj0KEQiAiMHEBRC034nx2ImB1J0BEiQA-r7ctpmJZl_8485tCnu-cWTuWUA1XXUra6Th8tZ3KmrCp24aAmOv8P8HAQ" target="_blank">Epitech</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright barde-purple-darken">
      <div class="container">
      © 2017 Copyright Barde
      </div>
    </div>
  </footer>
