        <nav class="absolute pink  ">
            <div class="nav-wrapper">

              <a href="#/" style="margin-left: 1.4% !important" class="brand-logo hide-on-med-and-down">
                             <img src="img/barde-logo.png" height="64px" style="padding:5%;display:inline-block">
                             <span class="barde_font"style="position:inherit;margin-left:4%">BARDE</span>
                         </a>


              <a href="#/" class="brand-logo center barde_font hide-on-large-only"><img src="img/barde-logo.png" height="54px"></a>

                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="/#accueil" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_HOME_TITLE"></span></a></li>
                  <li><a href="/#equipe" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_TEAM_TITLE"></span></a></li>
                  <li><a href="/#blog" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_BLOG_TITLE"></span></a></li>
                  <li><a href="/#contact" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_CONTACT_TITLE"></span></a></li>

                </ul>
            </div>
        </nav>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="sidelink" href="/#accueil" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_HOME_TITLE"></span></a></li>
      <li><a class="sidelink" href="/#equipe" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_TEAM_TITLE"></span></a></li>
      <li><a class="sidelink" href="/#blog" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_BLOG_TITLE"></span></a></li>
      <li><a class="sidelink" href="/#contact" data-toggle="collapse" data-target="#myNavbar"><span barde-translation data="NAV_CONTACT_TITLE"></span></a></li>
      <li class="divider"></li>
      <li><a class="black-text disabled">© Barde | 2017</a></li>
    </ul>
</header>





  <script type="text/javascript">
  $(".button-collapse").sideNav();

  $( "#target" ).click(function() {
    alert( "Handler for .click() called." );
  });

  $("li a").click(function()
  {
    $(".button-collapse").sideNav('hide');
  });
  </script>
