<div class="container">

<div class="container padding-top">
  <h4 class="barde-purple-font">First steps ...</h4>
  <span class="grey-text">22nd February 2017</span>
  <span>- Axel Lavielle</span>

  <p class="flow-text" >
    Since today we are going to start to leave you informed of everything pertaining our project Barde !
  </p>

  <p>

    To do so, we decided to set up a newsletter, we launched our website, we are going to post regularly on our
    <a href="www.barde.io/blog">Blog</a>, <a href="https://goo.gl/uebg0X" target="_blank">Facebook</a>,
    <a href="https://goo.gl/W13U9d" target="_blank">Twitter</a> and when in need <a href="https://goo.gl/RNDJdJ" target="_blank">Youtube</a> !

  </p>

  <p>
    We also want to thank once again <a href="https://www.facebook.com/flokamoart/" target="_blank">Kamo Art</a> & <a href="https://www.facebook.com/camillecarlsonphotography/" target="_blank">Camille Carlson Photography </a>
for having done respectively our logo/graphic identity and the group photos.  </p>

  <p>
    We are now going to provide more details about the project :
 </p>

  <p>
  Barde is a software/application that generate piped music for your evenings, waiting rooms, dinners, sport sessions or work. We want our music to be neither invasive nor limited as are lyrics musics nowadays. This allows a better concentration and a better relaxation !
  </p>

  <p>
    We have as ambition to propose three musical style at the end of our first two years of work. Actually, we're starting with the "Blues" and we will soon have a piano playing blues artificially !
  </p>


  <div class="row s12 l12 m12">
    <image-preloader src="team" alt="Team Barde"/>
  </div>


  <div class="divider"></div>

</div>
</div>
