<div class="container padding-top">
  <h4 class="barde-purple-font">Premiers pas</h4>
  <span class="grey-text">22 Février 2017</span>
  <span>- Axel Lavielle</span>

  <p class="flow-text" >
    A partir d’aujourd’hui nous allons commencer à vous informer de tout ce qui
    touche de près ou de loin à notre projet Barde !
  </p>

  <p>
    Pour ce faire, nous avons mis en place un système de newsletter, avons lancé
    notre site web, allons poster régulièrement sur notre <a href="www.barde.io/blog">Blog</a>, <a href="https://goo.gl/uebg0X" target="_blank">Facebook</a>, <a href="https://goo.gl/W13U9d" target="_blank">Twitter</a> et quand nécessaire <a href="https://goo.gl/RNDJdJ" target="_blank">YouTube</a> !
  </p>

  <p>
    Nous tenons à remercier énormément encore une fois <a href="https://www.facebook.com/flokamoart/" target="_blank">Kamo Art</a> & <a href="https://www.facebook.com/camillecarlsonphotography/" target="_blank">Camille Carlson Photography </a>
    pour avoir fait respectivement le logo / identité graphique de Barde et les photos du groupe.
  </p>

  <p>
    Nous allons maintenant vous donner plus de précisions sur le projet :
  </p>

  <p>
    Barde consiste à vous générer une musique d’ambiance pour vos soirées, vos salles d’attentes,
    vos diners entre amis ou encore votre travail. Nous souhaitons que notre musique ne soit ni envahissante
    ni à durée limitée comme le sont les musiques lyriques de nos jours, cela permet une une relaxation et une
    concentration bien plus facile.
  </p>

  <p>
    Nous avons pour ambitions de proposer trois styles de musique à la fin des deux premières années de travail.
    Pour l’instant, nous nous concentrons sur le Blues, style que nous affectionnons tout particulièrement !
  </p>

  <p>
    En bonus, voici l’équipe de travail de Barde devant la plage de la côte d’azur !
  </p>

  <div class="row s12 l12 m12">
    <img src="img/team.png" class="responsive-img" alt="L'équipe de barde">
  </div>


  <div class="divider"></div>

</div>
