<div class="container padding-top">
  <div class="container">
    <h4 class="barde-purple-font">Contactez-nous</h4>

    <form class="col s12" novalidate name="ContactForm" ng-submit="contactForm(contactForm)">
      <div class="row">
        <div class="input-field col s6">
          <input  placeholder="Nom" ng-model="contactForm.firstname" type="text" autofocus class="normal-input" required>
        </div>
        <div class="input-field col s6">
          <input ng-model="contactForm.lastname" placeholder="Prénom" type="text" class="normal-input" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="contactForm.email" placeholder="Email" type="email" class="normal-input" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea placeholder="Votre message" ng-model="contactForm.message" arows="5" id="textarea1" class="materialize-textarea normal-input" required></textarea>
          <div class="col s12 m6 l6">
            <div vc-recaptcha key="model.key" ng-model="contactForm.Recaptcha" on-success="setResponse(response)"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <input ng-disabled="!ContactForm.$valid" type="submit" class="waves-effect waves-light pink btn" value="Envoyer"/>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal Structure -->
<!-- Modal Trigger -->

<!-- Modal Structure -->
<div id="newsletterModal" class="modal">
  <div class="modal-content">
    <h4>Votre message a bien été envoyé !</h4>
    <p>Nous vous répondrons sous peu.</p>
    <p>Si vous souhaitez rester informé de l'avancée de notre projet, nous vous invitons à vous inscrire à nos newsletters.</p>
  </div>
  <div class="modal-footer">
    <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="newsletterForm(contactForm.email)">S'inscrire</a>
    <a href="" class=" modal-action modal-close waves-effect waves-red btn-flat">Fermer</a>

  </div>
</div>


<script type="text/javascript">

$(document).ready(function(){
  $('.modal').modal();


});
</script>

<script src='https://www.google.com/recaptcha/api.js' onload=vcRecaptchaApiLoaded&render=explicit“ async defer></script>
