<div class="container">

<div class="container padding-top">
  <h4 class="barde-purple-font justify"><span barde-translation data="TEAM_TITLE"></span></h4>
  <p><span barde-translation data="TEAM_DESC"></span></p>

  <div class="row">
    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-axel.jpg">
        </div>
        <div class="card-content">
          <p class="center-align">Axel</p>
          <p class="center-align">Lavielle</p>
        </div>
      </div>
    </div>

    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-alexis.jpg">
        </div>
        <div class="card-content">
          <p class="center-align">Alexis</p>
          <p class="center-align">Miele</p>
        </div>
      </div>
    </div>

    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-anthony.jpg">
        </div>
        <div class="card-content hoverable">
          <p class="center-align">Anthony</p>
          <p class="center-align">Vogelweid</p>

        </div>
      </div>
    </div>

    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-arnaud.jpg">
        </div>
        <div class="card-content">
          <p class="center-align">Arnaud</p>
          <p class="center-align">Perrault</p>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-aurelie.jpg">
        </div>
        <div class="card-content">
          <p class="center-align">Aurélie</p>
          <p class="center-align">Orset</p>

        </div>
      </div>
    </div>

    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-loic.jpg">
        </div>
        <div class="card-content">
          <p class="center-align">Loïc</p>
          <p class="center-align">Weinhard</p>

        </div>
      </div>
    </div>

    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-michael.jpg">
        </div>
        <div class="card-content">
          <p class="center-align">Michaël</p>
          <p class="center-align">Temem</p>

        </div>
      </div>
    </div>

    <div class="col s6 m3 l3 ">
      <div class="card">
        <div class="card-image hoverable">
          <img src="img/profils/profil-valerian.jpg">
        </div>
        <div class="card-content">
          <p class="center-align">Valérian</p>
          <p class="center-align">Polizzi</p>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
