<!--
 * APLT 
 * < arnaud perrault />
 * barde-www - Created on 27/05/2017
 -->

<section>

    <div class="main">

        <section class="section box-contacts box-parent" style="    min-height: 94vh;">
            <div class="box col box-white box-large box-center box-height-4">
                <div class="box-cell-size6 text-center">

                    <h2>
                        Who are we ?
                    </h2>
                    <h3>
                        Our team is composed of 8 developers, all 4th year Epitech's students.
                        We have for passion music, code, beer-pong and chilling with friends.
                    </h3>
                    <div class="wrapper-card">
                        <div class="card">
                            <img src="app/assets/images/profils/profil-arnaud.jpg" alt="" class="src card">
                            <p>Arnaud PERRAULT</p>
                        </div>

                        <div class="card">
                            <img src="app/assets/images/profils/profil-axel.jpg" alt="" class="src card">
                            <p>Axel Lavielle</p>
                        </div>

                        <div class="card">
                            <img src="app/assets/images/profils/profil-anthony.jpg" alt="" class="src card">
                            <p>Anthony Vogelweid</p>
                        </div>

                        <div class="card">
                            <img src="app/assets/images/profils/profil-michael.jpg" alt="" class="src card">
                            <p>Michael Temem</p>
                        </div>

                        <div class="card">
                            <img src="app/assets/images/profils/profil-aurelie.jpg" alt="" class="src card">
                            <p>Aurelie Orset</p>
                        </div>

                        <div class="card">
                            <img src="app/assets/images/profils/profil-alexis.jpg" alt="" class="src card">
                            <p>Alexis Miele</p>
                        </div>

                        <div class="card">
                            <img src="app/assets/images/profils/profil-loic.jpg" alt="" class="src card">
                            <p>Loic Weinhard</p>
                        </div>
                        <div class="card">
                            <img src="app/assets/images/profils/profil-valerian.jpg" alt="" class="src card">
                            <p>Valerian Polizzi</p>
                        </div>

                    </div>


                </div>

            </div><!-- /.box -->

        </section><!-- /.section -->
    </div>


</section>

