<div ng-show="load" class="s12 l12 m12 center">
  <div  class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<img ng-show="img" src='http://www.barde.io/img/profils/profil-{{profil}}.jpg' title="{{profileName}}" alt="{{profil}}"></p>
