Package : Barde
Version : 1.0
Section : base
Priority : optional
Architecture : all
Maintainer : Aurelie Orset <aurelie.orset@epitech.eu>
Description : Barde is a service that allows you to generate piped music in the style of your choice. Barde allows you to have a background sound for your restaurant, waiting rooms or your evenings with friends.
Homepage : barde.io
